extends layout

block content
  #header 
    div
      h1 We<i class="fa fa-heart-o" aria-hidden="true"></i>ElectricBuses
  #infobox
    div 
      #infocontent
          h2 <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Latest updates
          #info
            p <i class="fa fa-chevron-right" aria-hidden="true"></i>3 new buses to Tampere
          #info
            p <i class="fa fa-chevron-right" aria-hidden="true"></i>10 new buses to Berlin
          #info
            p <i class="fa fa-chevron-right" aria-hidden="true"></i>2 new buses to Tallinn
  #leftside
      div
  .map  
      div
  #infoarea 
      div
        #infoareabox  
          h3 How far does 180MJ of energy take you in a City bus?
          #infoboxp
            p CNG bus 7,7km <i class="fa fa-bus" aria-hidden="true"></i>
          #infoboxp
            p Diesel bus 10km <i class="fa fa-bus" aria-hidden="true"></i>
          #infoboxp
            p Fuel Cell 12,6km <i class="fa fa-bus" aria-hidden="true"></i>
          #infoboxpelec
            p Electric bus 39km <i class="fa fa-bus" aria-hidden="true"></i><i class="fa fa-bus" aria-hidden="true"></i><i class="fa fa-bus" aria-hidden="true"></i><i class="fa fa-bus" aria-hidden="true"></i>
        #infoareabox
        #infoareabox
  #feed
    div
      h3 <i class="fa fa-newspaper-o" aria-hidden="true"></i> Latest news
    
  #footer 
      div